{% extends 'components/base.html' %}
<title>{% block title %} {{ title1 }} {% endblock title %}</title>
{% load i18n %}
{% block content %}
<div class="py-8 lg:py-10"></div>
<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 mb-8">
  <div class="container mx-auto px-4 text-center" data-aos="fade-up" data-aos-delay="300">
    <div class="flex flex-col items-center justify-center">
      <span class="information [.theme1_&]:bg-theme1-600 [.theme2_&]:bg-theme2-500 [.theme2_&]:hover:bg-theme2-600">
        {{ title1 }}
      </span>
    </div>
    <h1 class="text-3xl font-bold mt-3
      text-gray-900 dark:text-white [.theme1_&]:text-theme1-900 [.theme2_&]:text-theme2-900">
      {{ title2 }}
    </h1>
  <p class="description-font text-center text-sm [.theme1_&]:text-theme1-800 [.theme2_&]:text-theme2-800">
    {% if user.is_superuser %}
    {% trans "Gestione las amenazas disponibles en el sistema." %}
    {% else %}
    {% trans "Consulte las amenazas disponibles en el sistema." %}
    {% endif %}
  </p>
  <div class="grid grid-cols-1 gap-4 mt-4 items-center justify-center">
    <div class="secondary-container-bg p-4 rounded-lg shadow-md [.theme1_&]:bg-theme1-100 [.theme2_&]:bg-theme2-100">
      {% if detection_models %}
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        {% for model in detection_models %}
        <div class="group relative text-center items-center flex justify-center flex-col bg-red-100 dark:bg-red-800 rounded-xl p-4 transition-all duration-500 hover:bg-red-500 dark:hover:bg-red-600 [.theme1_&]:bg-theme1-200 [.theme1_&]:hover:bg-theme1-400 [.theme2_&]:bg-theme2-200 [.theme2_&]:hover:bg-theme2-400">
          <div class="bg-white dark:bg-red-700 rounded-full flex justify-center items-center mb-3 w-12 h-12 [.theme1_&]:bg-theme1-100 [.theme1_&]:text-theme1-500 [.theme2_&]:bg-theme2-100 [.theme2_&]:text-theme2-500">
            <i class="{{ model.icon }} text-xl text-red-500 dark:text-white"></i>
          </div>
          <h2 class="title-module-cards text-lg font-semibold [.theme1_&]:text-theme1-900 [.theme2_&]:text-theme2-900">
            {{ model.name }}
          </h2>
          <div class="description-module-cards leading-5 text-sm space-y-1 [.theme1_&]:text-theme1-800 [.theme2_&]:text-theme2-800">
            {% if user.is_superuser %}
              <p>ID: {{ model.id }}</p>
            {% endif %}
            <p>{{ model.description }}</p>
            <p>{% trans "Creación:" %} {{ model.created_at | date:"d/m/Y" }} - {{ model.created_at | date:"H:i" }}</p>
          </div>
          {% if user.is_superuser %}
          <div class="flex mt-2 space-x-2">
            <div class="bg-white dark:bg-red-700 rounded-full p-2 w-9 h-9 flex items-center justify-center [.theme1_&]:bg-theme1-100 [.theme1_&]:text-theme1-500 [.theme2_&]:bg-theme2-100 [.theme2_&]:text-theme2-500">
              <a href="{% url 'detection:detection_update' model.id %}" data-tooltip-target="tooltip-edit-{{ model.id }}">
                <i class="fa-solid fa-edit text-red-500 dark:text-white"></i>
              </a>
            </div>
            <div id="tooltip-edit-{{ model.id }}" role="tooltip" class="absolute z-10 invisible inline-block px-2 py-1 text-xs font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Editar amenaza
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <div class="bg-white dark:bg-red-700 rounded-full p-2 w-9 h-9 flex items-center justify-center [.theme1_&]:bg-theme1-100 [.theme1_&]:text-theme1-500 [.theme2_&]:bg-theme2-500">
              <a href="{% url 'detection:detection_delete' model.id %}" data-tooltip-target="tooltip-delete-{{ model.id }}">
                <i class="fa-solid fa-trash text-red-500 dark:text-white"></i>
              </a>
            </div>
            <div id="tooltip-delete-{{ model.id }}" role="tooltip" class="absolute z-10 invisible inline-block px-2 py-1 text-xs font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Eliminar amenaza
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p class="description-module-cards text-sm [.theme1_&]:text-theme1-800 [.theme2_&]:text-theme2-800">
        {% trans "No hay amenazas disponibles." %} <span class="text-green-300 font-bold [.theme1_&]:text-theme1-600 [.theme2_&]:text-theme2-600">{% trans "Qué onda, administradores" %}</span>
      </p>
      {% endif %}
    </div>
  </div>
  

  {% block pagination %}
  {% include 'components/pagination.html' %}
  {% endblock pagination %}

  <div class="flex justify-center mt-3 mb-3 space-x-1">
    {% if user.is_superuser %}
    <a href="{% url 'detection:detection_create' %}">
      <button data-tooltip-target="tooltip-add-threat" class="add-threat-button [.theme1_&]:bg-theme1-500 [.theme1_&]:hover:bg-theme1-600 [.theme2_&]:bg-theme2-500 [.theme2_&]:hover:bg-theme2-600">
        <i class="fa-solid fa-plus text-sm"></i>
      </button>
    </a>
    <div id="tooltip-add-threat" role="tooltip"
      class="absolute z-10 invisible inline-block px-2 py-1 text-xs font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
      Añadir amenaza
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
    {% endif %}

    <a href="{% url 'monitoring:monitoring_session' %}">
      <button data-tooltip-target="tooltip-video" class="monitoring-video-button [.theme1_&]:bg-theme1-500 [.theme1_&]:hover:bg-theme1-600 [.theme2_&]:bg-theme2-500 [.theme2_&]:hover:bg-theme2-600">
        <i class="fa-solid fa-video text-sm"></i>
      </button>
    </a>
    <div id="tooltip-video" role="tooltip"
      class="absolute z-10 invisible inline-block px-2 py-1 text-xs font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
      Monitoreo en vivo
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
    
    <a href="{% url 'home' %}">
      <button data-tooltip-target="tooltip-home" class="home-and-back-button [.theme1_&]:bg-theme1-400 [.theme1_&]:hover:bg-theme1-500 [.theme2_&]:bg-theme2-400 [.theme2_&]:hover:bg-theme2-500">
        <i class="fa-solid fa-home text-sm"></i>
      </button>
    </a>
    <div id="tooltip-home" role="tooltip"
      class="absolute z-10 invisible inline-block px-2 py-1 text-xs font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
      Volver al Inicio
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
  </div>
</div>
</section>
{% endblock %}