{% extends 'components/base.html' %}
{% load static %}
<title>{% block title %} {{ title1 }} {% endblock title %}</title>
{% load i18n %}
{% block content %}
<div class="py-8 lg:py-10"></div>
<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 mb-8">
  <div class="container mx-auto px-4 text-center" data-aos="fade-up" data-aos-delay="300">
    <div class="flex flex-col items-center justify-center">
      <span class="information [.theme1_&]:bg-theme1-600 [.theme2_&]:bg-theme2-500 [.theme2_&]:hover:bg-theme2-600">
        {{ title1 }}
      </span>
    </div>
    <h1 class="text-3xl font-bold mt-3
      text-gray-900 dark:text-white [.theme1_&]:text-theme1-900 [.theme2_&]:text-theme2-900">
      {{ title2 }}
    </h1>
  <p class="description-font text-center [.theme1_&]:text-theme1-800 [.theme2_&]:text-theme2-800">{% trans "Complete el formulario." %}</p>
  <div class="flex justify-center pt-1">
    <div class="secondary-container-bg w-full max-w-md md:max-w-3xl shadow-md rounded-lg p-3 [.theme1_&]:bg-theme1-100 [.theme2_&]:bg-theme2-100">
      <form method="post">
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
          <div class="space-y-3">
            {% for field in form %}
            {% if field.name == "name" or field.name == "icon" %}
            <div class="mb-2 flex flex-col">
              <label class="labels [.theme1_&]:text-theme1-800 [.theme2_&]:text-theme2-800">
                {{ field.label }}
              </label>
              <div class="relative mt-1">
                {% if field.name == "name" %}
                <div class="absolute inset-y-0 left-0 flex items-center pl-2 pointer-events-none">
                  <i class="form-icons fa-solid fa-file-signature"></i>
                </div>
                {% endif %}
                {% if field.name == "icon" %}
                <div class="absolute inset-y-0 left-0 flex items-center pl-2 pointer-events-none">
                  <i class="form-icons fa-solid fa-icons"></i>
                </div>
                {% endif %}
                {{ field }}
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
          <div class="space-y-3">
            <div class="mb-2 flex flex-col">
              <label class="labels [.theme1_&]:text-theme1-800 [.theme2_&]:text-theme2-800">
                {{ form.description.label }}
              </label>
              {{ form.description }}
            </div>
          </div>
        </div>
        <div class="flex items-center justify-center mt-2">
          <button type="submit" class="save-change-button [.theme1_&]:bg-theme1-500 [.theme1_&]:hover:bg-theme1-600 [.theme2_&]:bg-theme2-500 [.theme2_&]:hover:bg-theme2-600">
            {% trans "Guardar Cambios" %}
            <i class="fa-solid fa-floppy-disk px-1"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="flex justify-center mt-3 mb-2 space-x-1">
    <a href="{% url 'detection:detection_list' %}">
      <button data-tooltip-target="tooltip-detection-list" class="home-and-back-button [.theme1_&]:bg-theme1-400 [.theme1_&]:hover:bg-theme1-500 [.theme2_&]:bg-theme2-400 [.theme2_&]:hover:bg-theme2-500">
        <i class="fa-solid fa-angles-left text-base"></i>
      </button>
    </a>
    <div id="tooltip-detection-list" role="tooltip"
      class="absolute z-10 invisible inline-block px-2 py-1 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
      Volver a la Lista de Detecciones
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
    <a href="{% url 'home' %}">
      <button data-tooltip-target="tooltip-home" class="home-and-back-button [.theme1_&]:bg-theme1-400 [.theme1_&]:hover:bg-theme1-500 [.theme2_&]:bg-theme2-400 [.theme2_&]:hover:bg-theme2-500">
        <i class="fa-solid fa-home text-base"></i>
      </button>
    </a>
    <div id="tooltip-home" role="tooltip"
      class="absolute z-10 invisible inline-block px-2 py-1 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
      Volver al Inicio
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
  </div>
</section>
{% endblock content %}