{% extends 'components/base.html' %} {% load static %}
<title>{% block title %} {{ title1 }} {% endblock title %}</title>
{% block content %}
<div class="sm:py-24 lg:py-14"></div>
<div class="container px-6 mx-auto" data-aos="fade-up">
  <h1 class="text-3xl font-black text-gray-900 dark:text-gray-100 text-center">{{ title2 }}</h1>
  <p class="text-gray-700 dark:text-gray-400 text-center font-bold">Gestionar Sesiones de Monitoreo. </p>
  <div class="grid grid-cols-1 gap-4 mt-4 items-center justify-center space-y-2">
    <div class="flex justify-center items-center">
      <div class="w-[50%] text-center space-y-2 shadow-md bg-slate-50 dark:bg-primary-dark_secondary rounded-xl p-3 transition-all duration-500 hover:bg-green-300 dark:hover:bg-green-800">
        <h2 class="text-lg font-semibold text-gray-900 dark:text-white mb-2">
          Crear Sesión de Monitoreo
        </h2>
        <p class="text-gray-700 dark:text-gray-400 text-center font-bold text-sm">
          Cree una nueva sesión de monitoreo para visualizar en tiempo real.
        </p>
        <div class="flex justify-center items-center">
          <div class="bg-white dark:bg-primary-dark rounded-full flex justify-center items-center mb-3 w-10 h-10">
            <a href="{% url 'monitoring:create_session' %}">
              <i class="fa-solid fa-plus text-lg text-blue-500 dark:text-white text-center"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- CRUD Sesiones -->
    <div class="p-4 bg-slate-50 rounded-lg shadow-md dark:bg-primary-dark_secondary">
      <div class="text-center py-4">
        <h2 class="text-lg font-semibold text-gray-900 dark:text-white mb-2">
          Monitoreo en Tiempo Real</h2>
        <p class="text-gray-700 dark:text-gray-400 text-center font-bold text-sm">Visualice sesiones de monitoreo previamente establecidas.</p>
      </div>
      {% if monitoring_sessions %}
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4">
        {% for session in monitoring_sessions %}
        <div class="group relative bg-blue-100 dark:bg-blue-800 rounded-xl p-3 transition-all duration-500 hover:bg-blue-500 dark:hover:bg-blue-600">
          <div class="bg-white dark:bg-blue-700 rounded-full flex justify-center items-center mb-3 w-10 h-10">
            <a href="{% url 'monitoring:real_time_view' session_id=session.id %}">
              <i class="fa-solid fa-video text-lg text-blue-500 dark:text-white text-center"></i> 
            </a>
          </div>
          <span class="text-sm text-green-500 dark:text-green-400 font-bold">Sesión {{ session.id }}</span>
          <h2 class="font-black text-gray-900 dark:text-white mb-2">
            {{ session.name }}
          </h2>
          <p class="text-sm text-gray-500 dark:text-gray-400 font-bold leading-5">
            {% if session.description %}
              {{ session.description }}
            {% else %}
              Sin descripción
            {% endif %}
          </p>
          <div class="flex mt-3 space-x-2">
            <!-- Botón Editar -->
            <div class="bg-white dark:bg-blue-700 rounded-full flex justify-center items-center mb-3 w-10 h-10">
              <a href="{% url 'monitoring:update_session' session.id %}">
                <i class="fa-solid fa-edit text-lg text-green-600 hover:text-green-800 dark:text-green-400 "></i>
              </a>
            </div>
            <!-- Botón Eliminar -->
            <div class="bg-white dark:bg-blue-700 rounded-full flex justify-center items-center mb-3 w-10 h-10">
              <a href="{% url 'monitoring:delete_session' session.id %}">
                <i class="fa-solid fa-trash text-lg text-red-600 hover:text-red-800 dark:text-red-400"></i>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p class="text-center text-gray-500 dark:text-gray-400 leading-5">
        No hay sesiones de monitoreo disponibles. <span class="text-green-300 font-bold">Empice creando una nueva sesión. </span>
      </p>
      {% endif %}
    </div>
  </div>
  <div class="flex justify-center mt-6 space-x-2">
    <a href="{% url 'home' %}">
      <button class="inline-flex items-center justify-center px-6 py-3 text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <i class="fa-solid fa-home text-lg"></i>
      </button>
    </a>
  </div>
</div>

{% endblock content %}