{% extends 'components/base.html' %}
{% load static %}
<title>{% block title %} {{ title1 }} {% endblock title %}</title>
{% block content %}
    <h1>{{ title2 }}</h1>
    <form method="POST" enctype="multipart/form-data" class="space-y-8">
        {% csrf_token %}
        <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
        {{ form.username }}
        <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
        {{ form.password }}
        <button type="submit">Sign in</button>
    </form>
{% endblock content %}