{% extends 'components/base.html' %}
{% load static %}
<title>{% block title %} {{ title1 }} {% endblock title %}</title>
{% block content %}
{% load i18n %}

<div class="bg-slate-100 dark:bg-primary-dark p-8 relative overflow-hidden">
  <div class="absolute inset-0 bg-center blur-[106px]"></div>
  <div class="relative">
    <a href="/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse text-center justify-center" data-aos="fade-up">
      <img src="{% static 'img/components/icon.png' %}" class="w-12 h-12" alt="Logo" />
      <span class="self-center whitespace-nowrap dark:text-blue-300 font-extrabold"></span>
    </a> 
    <section class="p-8 my-4 mx-auto max-w-7xl rounded-3xl bg-white dark:bg-primary-dark_secondary" data-aos="fade-up" data-aos-delay="200">
      <div class="gap-2 mb-8">
        <div class="flex flex-col items-center justify-center">
          <span class="rounded-full bg-indigo-500 px-2 py-1 text-white uppercase text-sm">
            {% trans 'REGISTRO' %}
          </span>
        </div>
        <h1 class="dark:text-white text-4xl text-center mt-6 font-black">
          {{ title2 }}
        </h1>
        <p class="dark:text-gray-400 text-center mt-6 text-lg font-semibold">
          {% trans '¡Por favor completa el siguiente formulario para registrarte en nuestro sistema!' %}
        </p>
      </div> 
      <form method="post" enctype="multipart/form-data">

      {% csrf_token %}

      <!-- Mostrar errores generales del formulario -->
      {% if form.non_field_errors %}
        <p class="text-red-500 text-center">{{ form.non_field_errors }}</p>
      {% endif %}

      <div class="grid lg:grid-cols-2 grid-cols-1 gap-8">
        <!-- Columna izquierda: Formulario -->
        <div class="lg:col-span-1 bg-indigo-100 dark:bg-primary-dark_secondary space-y-4 p-4 rounded-3xl">
          <!-- Dividir formulario en dos columnas de cuatro campos cada una -->
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
              <label for="{{ form.username.id_for_label }}" class="dark:text-blue-300 font-black uppercase text-lg">
                {{ form.username.label }}
              </label>
              <div class="relative">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                  <i class="text-blue-400 fa-solid fa-user"></i>
                </span>
                <input type="text" id="id_username" name="username" 
                       class="bg-white text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-primary-dark dark:placeholder-gray-400 dark:text-gray-200 dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
              {% if form.username.errors %}
                <p class="text-red-500">{{ form.username.errors }}</p>
              {% endif %}
            </div>            

            <div>
              <label for="{{ form.first_name.id_for_label }}" class="dark:text-blue-300 font-black uppercase text-lg">
                {{ form.first_name.label }}
              </label>
              <div class="relative">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                  <i class="text-blue-400 fa-solid fa-user"></i>
                </span>
                <input id="id_first_name" name="first_name" type="text" 
                       class="bg-white text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-primary-dark dark:placeholder-gray-400 dark:text-gray-200 dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
              {% if form.first_name.errors %}
                <p class="text-red-500">{{ form.first_name.errors }}</p>
              {% endif %}
            </div>
            
            <div>
              <label for="{{ form.last_name.id_for_label }}" class="dark:text-blue-300 font-black uppercase text-lg">
                {{ form.last_name.label }}
              </label>
              <div class="relative">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                  <i class="text-blue-400 fa-solid fa-user"></i>
                </span>
                <input id="id_last_name" name="last_name" type="text" 
                       class="bg-white text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-primary-dark dark:placeholder-gray-400 dark:text-gray-200 dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
              {% if form.last_name.errors %}
                <p class="text-red-500">{{ form.last_name.errors }}</p>
              {% endif %}
            </div>
            
            <div>
              <label for="{{ form.dni.id_for_label }}" class="dark:text-blue-300 font-black uppercase text-lg">
                {{ form.dni.label }}
              </label>
              <div class="relative">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                  <i class="text-blue-400 fa-solid fa-id-card"></i>
                </span>
                <input id="id_dni" name="dni" type="text" 
                       class="bg-white text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-primary-dark dark:placeholder-gray-400 dark:text-gray-200 dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
              {% if form.dni.errors %}
                <p class="text-red-500">{{ form.dni.errors }}</p>
              {% endif %}
            </div>            

            <div>
              <label for="{{ form.email.id_for_label }}" class="dark:text-blue-300 font-black uppercase text-lg">
                {{ form.email.label }}
              </label>
              <div class="relative">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                  <i class="text-blue-400 fa-solid fa-envelope"></i>
                </span>
                <input id="id_email" name="email" type="email" 
                       class="bg-white text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-primary-dark dark:placeholder-gray-400 dark:text-gray-200 dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
              {% if form.email.errors %}
                <p class="text-red-500">{{ form.email.errors }}</p>
              {% endif %}
            </div>
            
            <div>
              <label for="{{ form.phone.id_for_label }}" class="dark:text-blue-300 font-black uppercase text-lg">
                {{ form.phone.label }}
              </label>
              <div class="relative">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                  <i class="text-blue-400 fa-solid fa-phone"></i>
                </span>
                <input id="id_phone" name="phone" type="text" 
                       class="bg-white text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-primary-dark dark:placeholder-gray-400 dark:text-gray-200 dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
              {% if form.phone.errors %}
                <p class="text-red-500">{{ form.phone.errors }}</p>
              {% endif %}
            </div>
            
            <div>
              <label for="{{ form.password1.id_for_label }}" class="dark:text-blue-300 font-black uppercase text-lg">
                {{ form.password1.label }}
              </label>
              <div class="relative">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                  <i class="text-blue-400 fa-solid fa-lock"></i>
                </span>
                <input id="id_password1" name="password1" type="password" 
                       class="bg-white text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-primary-dark dark:placeholder-gray-400 dark:text-gray-200 dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
              {% if form.password1.errors %}
                <p class="text-red-500">{{ form.password1.errors }}</p>
              {% endif %}
            </div>
            
            <div>
              <label for="{{ form.password2.id_for_label }}" class="dark:text-blue-300 font-black uppercase text-lg">
                {{ form.password2.label }}
              </label>
              <div class="relative">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                  <i class="text-blue-400 fa-solid fa-lock"></i>
                </span>
                <input id="id_password2" name="password2" type="password" 
                       class="bg-white text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-primary-dark dark:placeholder-gray-400 dark:text-gray-200 dark:focus:ring-blue-500 dark:focus:border-blue-500">
              </div>
              {% if form.password2.errors %}
                <p class="text-red-500">{{ form.password2.errors }}</p>
              {% endif %}
            </div>
            
          </div>

          <div class="mt-8 flex justify-center lg:col-span-2">
            <button type="submit" class="bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out transform hover:scale-105">
              {% trans 'Registrarse' %}
            </button>
          </div>

          <div class="mt-6 text-center">
            <p class="dark:text-gray-400 font-semibold">{% trans '¿Ya tienes una cuenta?' %} <a href="{% url 'security:signin' %}" class="text-blue-600 hover:underline dark:text-blue-300 font-black">{% trans 'Inicia Sesión' %}</a></p>
          </div>
        </div>

        <!-- Columna derecha: Imagen y selector de imagen -->
        <div class="lg:max-w-xl w-full h-[600px] flex items-center justify-center bg-cover bg-no-repeat bg-[url('https://pagedone.io/asset/uploads/1696245837.png')]">
          <div class="rounded-lg w-full max-w-xs bg-white shadow-xl p-6 backdrop-filter backdrop-blur-md bg-opacity-70">
            <h2 class="text-2xl font-bold mb-4 text-center">{% trans 'Imagen de perfil' %}</h2>
            <div class="flex flex-col items-center justify-center">
              <img id="selected-img" src="{% static 'img/components/default_user.jpg' %}" alt="profile" class="w-32 h-32 rounded-full cursor-pointer mb-2">
              {{ form.image }}
            </div>
            <p class="text-center mt-4 text-sm text-gray-600 dark:text-black">
              {% trans 'Haz clic en la imagen para cambiarla' %}
            </p>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>
{% endblock content %}

{% block navbar %}
{% endblock navbar %}
