@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Quicksand';
  src: url('../../templates/') format('truetype');
  font-weight: 200 700;
  font-style: normal;
}

.font-primary {
  @apply text-blue-700 dark:text-white py-2 px-3 ;
}