{% extends 'components/base.html' %}
<title>{% block title %} {{ title1 }} {% endblock title %}</title>
{% block content %}
<div class="sm:py-24 lg:py-14"></div>
<div class="container px-6 mx-auto" data-aos="fade-up">
  <h1 class="text-3xl font-black text-gray-900 dark:text-gray-100 text-center">{{ title2 }}</h1>
  <p class="text-gray-700 dark:text-gray-400 text-center font-bold">Los administradores gestionaran las amenazas. Los usuarios solo veran las categorias de amenazas disponibles</p>
  <div class="grid grid-cols-1 gap-4 mt-4 items-center justify-center">
    <!-- Amenazas disponibles -->
    <div class="p-4 bg-white rounded-lg shadow-md dark:bg-primary-dark_secondary">
      {% if detection_models %}
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4">
        {% for model in detection_models %}
        <div class="text-center items-center flex justify-center flex-col bg-blue-100 dark:bg-blue-800 rounded-xl p-3 transition-all duration-500 hover:bg-blue-500 dark:hover:bg-blue-600">
          <div class="bg-white dark:bg-blue-700 rounded-full flex justify-center items-center mb-3 w-10 h-10">
            <i class="{{ model.icon }} text-lg text-blue-500 dark:text-white text-center"></i>
          </div>
          <h2 class="font-black text-gray-900 dark:text-white mb-2">
            {{ model.name }}
          </h2>
          <p class="text-sm text-gray-500 dark:text-gray-400 font-bold leading-5">
            {{ model.description }}
          </p>
          {% if user.is_superuser %}
          <div class="flex mt-3 space-x-2">
            <!-- Botón Editar -->
            <div class="bg-white dark:bg-blue-700 rounded-full flex justify-center items-center mb-3 w-10 h-10">
              <a href="">
                <i class="fa-solid fa-edit text-lg text-green-600 hover:text-green-800 dark:text-green-400 "></i>
              </a>
            </div>
            <!-- Botón Eliminar -->
            <div class="bg-white dark:bg-blue-700 rounded-full flex justify-center items-center mb-3 w-10 h-10">
              <a href="">
                <i class="fa-solid fa-trash text-lg text-red-600 hover:text-red-800 dark:text-red-400"></i>
              </a>
            </div>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p class="text-center text-gray-500 dark:text-gray-400 leading-5">
        No hay amenazas disponibles. <span class="text-green-300 font-bold">Wussup admins?</span>
      </p>
      {% endif %}
    </div>
  </div>
  <div class="flex justify-center mt-6 space-x-2">
    <a href="{% url 'monitoring:monitoring_session' %}">
      <button class="text-lg inline-flex items-center justify-center px-6 py-3 text-white bg-green-500 rounded-lg hover:bg-green-600 focus:ring-4 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
        <i class="fa-solid fa-video"></i>
      </button>
    </a>
    <a href="{% url 'home' %}">
      <button class="inline-flex items-center justify-center px-6 py-3 text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <i class="fa-solid fa-home"></i>
      </button>
    </a>
  </div>
</div>
{% endblock %}