{% extends 'components/base.html' %}
<title>{% block title %}{{ title1 }}{% endblock title %}</title>
{% load i18n %}
{% block content %}
<div class="py-8 lg:py-10"></div>
<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 mb-8">
  <div class="container mx-auto px-4 text-center" data-aos="fade-up" data-aos-delay="300">
    <div class="flex flex-col items-center justify-center">
      <span class="information [.theme1_&]:bg-theme1-600 [.theme2_&]:bg-theme2-500 [.theme2_&]:hover:bg-theme2-600">
        {{ title1 }}
      </span>
    </div>
    <h1 class="text-3xl font-bold mt-3
      text-gray-900 dark:text-white [.theme1_&]:text-theme1-900 [.theme2_&]:text-theme2-900">
      {{ title2 }}
    </h1>
  <p class="description-font text-center [.theme1_&]:text-theme1-800 [.theme2_&]:text-theme2-800">
    {% trans 'Gestione los tonos de alarma para detectar amenazas.' %}
  </p>
  <div class="grid grid-cols-1 gap-4 mt-4 items-center justify-center">
    <div class="secondary-container-bg p-4 rounded-md shadow [.theme1_&]:bg-theme1-100 [.theme2_&]:bg-theme2-100">
      {% if alarm_models %}
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        {% for model in alarm_models %}
        <div class="group relative flex flex-col justify-center text-center items-center bg-orange-100 dark:bg-orange-800 rounded-lg p-4 transition-all duration-300 hover:bg-orange-500 dark:hover:bg-orange-600 [.theme1_&]:bg-theme1-200 [.theme1_&]:hover:bg-theme1-400 [.theme1_&]:dark:bg-theme1-700 [.theme1_&]:dark:hover:bg-theme1-600 [.theme2_&]:bg-theme2-200 [.theme2_&]:hover:bg-theme2-400 [.theme2_&]:dark:bg-theme2-700 [.theme2_&]:dark:hover:bg-theme2-600">
          <div class="bg-white dark:bg-orange-700 rounded-full flex justify-center items-center mb-3 w-12 h-12 [.theme1_&]:bg-theme1-100 [.theme1_&]:dark:bg-theme1-600 [.theme2_&]:bg-theme2-100 [.theme2_&]:dark:bg-theme2-600">
            <i class="fa-solid fa-bell text-lg text-orange-500 dark:text-white [.theme1_&]:text-theme1-500 [.theme1_&]:dark:text-white [.theme2_&]:text-theme2-500 [.theme2_&]:dark:text-white"></i>
          </div>
          <h2 class="title-module-cards text-lg font-semibold [.theme1_&]:text-theme1-900 [.theme2_&]:text-theme2-900">{{ model.detection }}</h2>
          <div class="description-module-cards leading-5 text-sm space-y-1 [.theme1_&]:text-theme1-800 [.theme2_&]:text-theme2-800">
            <p>{{ model.notification_message }}</p>
            <p>{% trans "Creación:" %} {{ model.created_at | date:"d/m/Y" }} - {{ model.created_at | date:"H:i" }}</p>
            <p>{% trans "Última Actualización:" %} {{ model.updated_at | date:"d/m/Y" }} - {{ model.updated_at | date:"H:i" }}</p>
          </div>
          <div class="flex mt-2 space-x-2">
            <button id="play-pause-button-{{ model.id }}" onclick="toggleAudio('{{ model.id }}')" class="bg-white dark:bg-orange-700 rounded-full flex justify-center items-center w-10 h-10">
              <i id="play-pause-icon-{{ model.id }}" class="fa-solid fa-play text-base text-green-600 hover:text-green-800 dark:text-gray-100"></i>
            </button>
            <div id="tooltip-play-{{ model.id }}" role="tooltip" class="absolute z-10 invisible inline-block px-2 py-1 text-xs font-medium text-white transition-opacity duration-200 bg-gray-900 rounded-md shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Reproducir tono
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <div class="bg-white dark:bg-orange-700 rounded-full flex justify-center items-center w-10 h-10 [.theme1_&]:bg-theme1-100 [.theme1_&]:dark:bg-theme1-600 [.theme2_&]:bg-theme2-100 [.theme2_&]:dark:bg-theme2-600">
              <a href="{% url 'alarm:alarm_update' model.id %}" data-tooltip-target="tooltip-edit-{{ model.id }}">
                <i class="fa-solid fa-edit text-base text-cyan-600 hover:text-cyan-800 dark:text-gray-100"></i>
              </a>
            </div>
            <div id="tooltip-edit-{{ model.id }}" role="tooltip" class="absolute z-10 invisible inline-block px-2 py-1 text-xs font-medium text-white transition-opacity duration-200 bg-gray-900 rounded-md shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Editar tono
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
            <div class="bg-white dark:bg-orange-700 rounded-full flex justify-center items-center w-10 h-10 [.theme1_&]:bg-theme1-100 [.theme1_&]:dark:bg-theme1-600 [.theme2_&]:bg-theme2-100 [.theme2_&]:dark:bg-theme2-600">
              <a href="{% url 'alarm:alarm_delete' model.id %}" data-tooltip-target="tooltip-delete-{{ model.id }}">
                <i class="fa-solid fa-trash text-base text-red-600 hover:text-red-800 dark:text-gray-100"></i>
              </a>
            </div>
            <div id="tooltip-delete-{{ model.id }}" role="tooltip" class="absolute z-10 invisible inline-block px-2 py-1 text-xs font-medium text-white transition-opacity duration-200 bg-gray-900 rounded-md shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Eliminar tono
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
          {% if model.sound_file %}
            <audio id="audio-{{ model.id }}" src="{{ model.sound_file.url }}"></audio>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p class="description-module-cards text-sm text-center [.theme1_&]:text-theme1-800 [.theme2_&]:text-theme2-800">
        No hay tonos disponibles. <span class="text-green-300 font-bold [.theme1_&]:text-theme1-600 [.theme2_&]:text-theme2-600">Empieza configurando algunos ahora...</span>
      </p>
      {% endif %}
    </div>
  </div>

  {% block pagination %}
  {% include 'components/pagination.html' %}
  {% endblock pagination %}

  <div class="flex justify-center mt-3 mb-3 space-x-1.5">
    <a href="{% url 'alarm:alarm_create' %}">
      <button class="add-threat-button [.theme1_&]:bg-theme1-500 [.theme1_&]:hover:bg-theme1-600 [.theme2_&]:bg-theme2-500 [.theme2_&]:hover:bg-theme2-600" data-tooltip-target="tooltip-create">
        <i class="fa-solid fa-plus"></i>
      </button>
    </a>
    <div id="tooltip-create" role="tooltip" class="absolute z-10 invisible inline-block px-2 py-1 text-xs font-medium text-white transition-opacity duration-200 bg-gray-900 rounded-md shadow-sm opacity-0 tooltip dark:bg-gray-700">
      Crear nueva alarma
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>

    <a href="{% url 'monitoring:monitoring_session' %}">
      <button class="monitoring-video-button [.theme1_&]:bg-theme1-500 [.theme1_&]:hover:bg-theme1-600 [.theme2_&]:bg-theme2-500 [.theme2_&]:hover:bg-theme2-600" data-tooltip-target="tooltip-monitoring">
        <i class="fa-solid fa-video"></i>
      </button>
    </a>
    <div id="tooltip-monitoring" role="tooltip" class="absolute z-10 invisible inline-block px-2 py-1 text-xs font-medium text-white transition-opacity duration-200 bg-gray-900 rounded-md shadow-sm opacity-0 tooltip dark:bg-gray-700">
      Ver sesiones de monitoreo
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
    
    <a href="{% url 'home' %}">
      <button class="home-and-back-button [.theme1_&]:bg-theme1-400 [.theme1_&]:hover:bg-theme1-500 [.theme2_&]:bg-theme2-400 [.theme2_&]:hover:bg-theme2-500" data-tooltip-target="tooltip-home">
        <i class="fa-solid fa-home"></i>
      </button>
    </a>
    <div id="tooltip-home" role="tooltip" class="absolute z-10 invisible inline-block px-2 py-1 text-xs font-medium text-white transition-opacity duration-200 bg-gray-900 rounded-md shadow-sm opacity-0 tooltip dark:bg-gray-700">
      Volver al Inicio
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
  </div>
</div>
</section>
{% endblock content %}

{% block extra_js %}
<script>
  let audioElements = {};
  function toggleAudio(modelId) {
    let audio = document.getElementById('audio-' + modelId);
    let button = document.getElementById('play-pause-button-' + modelId);
    let icon = document.getElementById('play-pause-icon-' + modelId);

    if (audio.paused) {
      audio.play();
      icon.classList.remove('fa-play');
      icon.classList.add('fa-pause');
    } else {
      audio.pause();
      icon.classList.remove('fa-pause');
      icon.classList.add('fa-play');
    }

    audio.addEventListener('ended', function() {
      icon.classList.remove('fa-pause');
      icon.classList.add('fa-play');
    });
  }
</script>
{% endblock extra_js %}