{% extends 'components/base.html' %} 
{% load static %}
{% load i18n %}
<title>{% block title %} {{ title1 }} {% endblock title %}</title>
{% block content %}
<div class="py-20"></div>
<div class="container px-6 mx-auto mb-4 flex items-center justify-center" data-aos="fade-up">
  <div class="secondary-container-bg w-full max-w-xl p-8 shadow-md hover:shadow-lg rounded-2xl">
    <div class="flex flex-col items-center text-center space-y-4">
      <!-- Icono de Confirmación -->
      <svg xmlns="http://www.w3.org/2000/svg"
        class="primary-container-bg w-16 h-16 rounded-2xl p-3 text-red-400" fill="none"
        viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>

      <!-- Mensaje de Confirmación -->
      <div>
        <h2 class="text-2xl font-semibold text-gray-900 dark:text-white">{{ title2 }}</h2>
        <p class="text-gray-700 dark:text-gray-400 font-bold">
          {% trans '¿Está seguro de esta decisión?' %}<br>
          <span class="font-black text-green-400">{{ details }}</span><br>
          <span class="text-red-400 font-black">{% trans 'Una vez eliminado, no podrás recuperar los datos.' %}</span>
        </p>
      </div>

      <!-- Botones de Acción -->
      <form method="post" action="{{ confirm_url }}">
        {% csrf_token %}
        <div class="space-x-4">
          <button type="submit" class="bg-red-500 px-5 py-2 text-sm font-bold shadow-sm hover:shadow-lg tracking-wider text-white rounded-full">
            {% trans 'Sí, eliminar' %}
          </button>
          <a href="{{ cancel_url }}" class="bg-blue-500 px-5 py-2 text-sm font-bold shadow-sm hover:shadow-lg tracking-wider text-white rounded-full">
            {% trans 'Cancelar' %}
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
