{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}

<title>{% block title %} {{ title1 }} {% endblock title %}</title>

{% block content %}
<div class="primary-container-bg p-8 relative overflow-hidden">
  <div class="relative">
    <a href="/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse text-center justify-center"
      data-aos="fade-up">
      <img src="{% static 'img/components/icon.png' %}" class="w-8 h-8" alt="Logo" />
    </a>
    <section class="secondary-container-bg p-8 my-4 mx-auto max-w-4xl rounded-3xl" data-aos="fade-up"
      data-aos-delay="200">
      <div class="gap-2 mb-8">
        <h1 class="title-font text-3xl text-center mt-4">
          {{ title1 }}
        </h1>
        <p class="description-font text-center">
          {% trans '¡Por favor ingrese su correo para recuperar su contraseña!' %}
        </p>
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-x-24">
          <div class="flex justify-center items-center">
            <form method="post" class="w-full max-w-sm">
              {% csrf_token %}
              <div class="mb-4 text-center">
                <label for="email" class="labels">
                  {% trans 'Correo electrónico:' %}
                </label>
                <div class="relative">
                  <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                    <i class="form-icons fa-solid fa-envelope"></i>
                  </span>
                  <input type="email" class="inputs" id="email" name="email" required>
                </div>
              </div>
              <div class="flex items-center justify-center">
                <button type="submit" class="aditional-button">
                  {% trans 'Validar Correo' %}
                </button>
              </div>
              <p class="description-font text-center my-4"> {% trans '¿Ya tienes una cuenta?' %}
                <a href="{% url 'security:signin' %}" class="questions">
                  {% trans 'Inicia Sesión' %}
                </a>
              </p>
            </form>
          </div>

          <div class="lg:max-w-xl w-full h-[375px] flex items-center justify-center bg-cover bg-no-repeat bg-[url('https://pagedone.io/asset/uploads/1696245837.png')]">
            <div class="primary-container-bg flex flex-col items-center justify-center lg:w-96 w-auto h-auto shadow-xl lg:p-6 p-4 backdrop-filter backdrop-blur-md bg-opacity-70">
              <p class="description-font p-4">
                {% trans 'Asegurese de ingresar un correo válido con el cual creó su cuenta por primera vez.' %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock content %}

{% block navbar %}
{% endblock navbar %}