{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{{ title1 }}{% endblock title %}

{% block content %}
<div class="primary-container-bg p-8 relative overflow-hidden">
  <div class="relative">
    <a href="{% url 'home' %}" class="logo justify-center" data-aos="fade-up">
      <img src="{% static 'img/components/icon.png' %}" class="w-8 h-8" alt="Logo" />
    </a> 
    <section class="secondary-container-bg p-8 my-4 mx-auto max-w-4xl rounded-3xl" data-aos="fade-up" data-aos-delay="200">
      <div class="gap-2 mb-8">
        <h1 class="title-font text-3xl text-center mt-4">
          {{ title1 }}
        </h1>
        <p class="description-font text-center">
          {% trans '¡Por favor ingrese su nueva contraseña!' %}
        </p>
      </div>
      <div class="grid lg:grid-cols-2 grid-cols-1 gap-x-24">
        <div class="flex items-center lg:mb-0 mb-10">
          <div class="w-full max-w-md mx-auto">
            <form method="post" class="space-y-8">
              {% csrf_token %}
              {% for field in form %}
              <div>
                <label for="{{ field.id_for_label }}" class="labels">
                  {{ field.label }}</label>
                <div class="relative">
                  <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                    <i class="form-icons fa-solid fa-lock"></i>
                  </span>
                  {{ field|add_class:"inputs" }}
                </div>
              </div>
              {% endfor %}
              <div class="flex items-center justify-center">
                <button type="submit" class="aditional-button">
                  {% trans 'Cambiar Contraseña' %}
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="lg:max-w-xl w-full h-[375] flex items-center justify-center bg-cover bg-no-repeat bg-[url('https://pagedone.io/asset/uploads/1696245837.png')]">
          <div class="primary-container-bg flex flex-col items-center justify-center lg:w-96 w-auto h-auto shadow-xl lg:p-6 p-4 backdrop-filter backdrop-blur-md bg-opacity-70">
            <div class="space-y-4">
              <p class="description-font p-4">
                {% trans 'Asegúrese de elegir una contraseña segura que no haya utilizado en otros sitios.' %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock content %}

{% block navbar %}
{% endblock navbar %}