{% extends 'components/base.html' %}
{% load static %}
{% block content %}
{% block title %}{{ title1 }}{% endblock title %}
{% load i18n %}
<div class="py-12 lg:py-14"></div>
<div class="container px-6 mx-auto" data-aos="fade-up">
  <div class="flex flex-col items-center justify-center">
    <span class="information">
      {{ title1 }}
    </span>
  </div>
  <h1 class="title-font text-3xl text-center mt-4">{{ title2 }}</h1>
  <p class="description-font text-center">{{ details }}</p>
  <div class="secondary-container-bg my-4 p-4 rounded-lg shadow-md">
    <div class="text-center py-2 space-y-6 flex flex-col items-center justify-center">

      {% if bar_chart %}
      <!-- Mostrar el gráfico de barras si existe -->
      <div>
        {{ bar_chart|safe }}
      </div>

      <a href="">
        <button class="aditional-button">{% trans "Exportar Estadísticas" %}</button>
      </a>
      {% else %}
      <!-- Mensaje si no hay datos -->
      <p class="description-module-cards text-center leading-5">
        {% trans "No hay datos por mostrar." %} <span class="text-green-300 font-bold">{% trans "¿Por qué no generar nuevos datos?" %}</span>
      </p>
      {% endif %}
    </div>
  </div>
  <div class="flex justify-center mt-6 mb-4 space-x-2">
    <a href="{% url 'monitoring:monitoring_session' %}">
      <button class="monitoring-video-button">
        <i class="fa-solid fa-video"></i>
      </button>
    </a>
    <a href="{% url 'home' %}">
      <button class="home-and-back-button">
        <i class="fa-solid fa-home text-lg"></i>
      </button>
    </a>
  </div>
</div>

{% endblock content %}
