{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{{ title1 }}{% endblock title %}
{% block content %}

<div class="py-12 lg:py-14"></div>
<section class="primary-container-bg">
  <div class="container mx-auto px-4" data-aos="fade-up" data-aos-delay="300">
    <!-- Encabezado -->
    <div class="text-center mb-8">
      <div class="flex flex-col items-center justify-center">
        <span class="information">
          {{ title1 }}
        </span>
      </div>
      <h1 class="title-font text-3xl lg:text-4xl mt-4">{{ title2 }}</h1>
      <p class="description-font text-center">{% trans 'Visualice las configuraciones de seguridad disponibles' %}</p>
    </div>

  <!-- Resto del contenido -->
  <div class="flex items-center justify-center">
    <div class="w-full max-w-md mx-auto">
      <form method="POST" class="space-y-8">
        {% csrf_token %}
        <div class="flex items-center justify-between">
          <label for="{{ form.is_2fa_enabled.id_for_label }}" class="labels">Habilitar 2FA para su cuenta</label>
          <div class="relative">
            <label class="inline-flex items-center cursor-pointer">
              <input type="checkbox" name="{{ form.is_2fa_enabled.name }}" {% if form.is_2fa_enabled.value %}checked{% endif %} class="sr-only peer">
              <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            </label>
          </div>
        </div>
        <div class="flex items-center justify-center">
          <button type="submit" class="sign-in-and-sign-up-button">
            {% trans 'Guardar Configuración' %}
          </button>
        </div>
      </form>
    </div>
  </div>

  
</section>
{% endblock content %}
