{% load static %}
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
<script src="{% static 'js/img.js' %}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<!-- Script para inicializar AOS -->
<script>
  AOS.init();
</script>

<!-- Pantallazo blanco al cambiar de pagina -->
<script>
  (function () {
    const isDarkModeEnabled = localStorage.getItem('darkModeEnabled') === 'true';
    if (isDarkModeEnabled) {
      document.documentElement.classList.add('dark');
    }
    document.documentElement.classList.add('loaded');
  })();
  (function () {
    const savedTheme = localStorage.getItem('theme') || 'light';
    document.documentElement.className = savedTheme;
    document.documentElement.classList.add('loaded');
  })();
</script>

<!-- Script para alertas -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const messages = document.querySelectorAll('#message-container > div');
    messages.forEach(function (message) {
      setTimeout(function () {
        message.style.transition = 'opacity 0.5s ease-out';
        message.style.opacity = '0';
        setTimeout(function () {
          message.remove();
        }, 500);
      }, 5000);
    });
  });
</script>

<!-- Script para hacer blur la navbar -->
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const navbar = document.getElementById('navbar');

    if (navbar) {
      window.addEventListener('scroll', () => {
        const isDarkMode = document.documentElement.classList.contains('dark'); // Verifica si el modo oscuro está activado

        if (window.scrollY > 50) {
          navbar.classList.add('bg-opacity-80', 'backdrop-blur-sm');
          if (isDarkMode) {
            navbar.classList.add('dark:bg-opacity-80', 'dark:backdrop-blur-sm');
          }
        } else {
          navbar.classList.remove('bg-opacity-80', 'backdrop-blur-sm');
          if (isDarkMode) {
            navbar.classList.remove('dark:bg-opacity-80', 'dark:backdrop-blur-sm');
          }
        }
      });
    }
  });
</script>

<!-- Script para el botón de ir arriba -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    window.addEventListener('scroll', function () {
      var goTopBtn = document.getElementById('goTopBtn');
      if (window.scrollY > 100) {
        goTopBtn.classList.remove('translate-y-20');
        goTopBtn.classList.remove('opacity-0');
        goTopBtn.classList.add('translate-y-0');
        goTopBtn.classList.add('opacity-100');
      } else {
        goTopBtn.classList.add('translate-y-20');
        goTopBtn.classList.add('opacity-0');
        goTopBtn.classList.remove('translate-y-0');
        goTopBtn.classList.remove('opacity-100');
      }
    });

    document.getElementById('goTopBtn').addEventListener('click', function () {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    });
  });
</script>

<!-- SCRIPTS QUE ESTABAN EN HOME -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<!-- Modal Sobre Nosotros -->
<script>
  document.querySelectorAll('[data-modal-target]').forEach(button => {
    button.addEventListener('click', () => {
      const modal = document.getElementById(button.getAttribute('data-modal-target'));
      modal.classList.remove('hidden');

      // Recalcula la posición centrada del modal
      const modalContent = modal.querySelector('.relative.bg-white');
      const modalHeight = modalContent.clientHeight;
      const windowHeight = window.innerHeight;
      const topOffset = (windowHeight - modalHeight) / 2;

      modalContent.style.marginTop = `${topOffset}px`;
    });
  });

  document.querySelectorAll('[data-modal-hide]').forEach(button => {
    button.addEventListener('click', () => {
      const modal = button.closest('.fixed');
      modal.classList.add('hidden');

      // Restablece la posición del modal
      const modalContent = modal.querySelector('.relative.bg-white');
      modalContent.style.marginTop = `0`;
    });
  });
</script>

<!-- Boton de accesibilidad -->
<style>
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(66, 153, 225, 0.7);
    }

    70% {
      box-shadow: 0 0 0 15px rgba(66, 153, 225, 0);
    }

    100% {
      box-shadow: 0 0 0 0 rgba(66, 153, 225, 0);
    }
  }

  #dropdownDefaultButton {
    animation: pulse 2s infinite;
    position: fixed;
    bottom: 140px;
    /* Movido más arriba */
    left: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #dropdown {
    position: fixed;
    bottom: 200px;
    /* Posicionado encima del botón */
    left: 32px;
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease, opacity 0s ease, visibility 0.3s;
  }

  #dropdown.show {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
</style>

<!-- Dropdown -->
<script>
  const button = document.getElementById('dropdownDefaultButton');
  const dropdown = document.getElementById('dropdown');

  button.addEventListener('click', () => {
    dropdown.classList.toggle('show');
  });

  // Cerrar el dropdown si se hace clic fuera de él
  document.addEventListener('click', (event) => {
    if (!button.contains(event.target) && !dropdown.contains(event.target)) {
      dropdown.classList.remove('show');
    }
  });

  // Funciones para controlar el zoom
  let currentZoom = 100;

  function changeZoom(direction) {
    if (direction === 'in') {
      currentZoom += 10;
    } else if (direction === 'out') {
      currentZoom -= 10;
    }
    currentZoom = Math.max(50, Math.min(currentZoom, 200)); // Limitar entre 50% y 200%
    document.body.style.zoom = `${currentZoom}%`;
  }

  function resetZoom() {
    currentZoom = 100;
    document.body.style.zoom = '100%';
  }
</script>

<!-- Script para la barra de progreso -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    let progressBar = document.getElementById('progress-bar');

    // Se ejecuta solo si está presente en la página
    if (progressBar) {
      let totalHeight = document.documentElement.scrollHeight - window.innerHeight;

      window.addEventListener('scroll', function () {
        let progress = (window.pageYOffset / totalHeight) * 100;
        progressBar.style.width = progress + '%';
      });

      window.addEventListener('resize', function () {
        totalHeight = document.documentElement.scrollHeight - window.innerHeight;
      });
    }
  });

</script>

<!-- Script para cerrar la sesión -->
<script>
  // Agregamos una variable global que se establecerá desde el backend
  let isAuthenticated = document.body.dataset.authenticated === 'true';

  // Configuración de tiempo en milisegundos
  const SESSION_DURATION = 1800 * 1000;    // 1 minuto en milisegundos
  const WARNING_BEFORE = 300 * 1000;      // 30 segundos en milisegundos
  let timeoutId;
  let warningId;
  let warningShown = false;

  // Función para inicializar el controlador de sesión
  function initSessionHandler() {
      // Solo inicializar si el usuario está autenticado
      if (!isAuthenticated) {
          return;
      }

      // Reiniciar los temporizadores
      resetTimers();
      
      // Agregar listeners para actividad del usuario
      ['click', 'keypress', 'scroll', 'mousemove'].forEach(event => {
          document.addEventListener(event, () => {
              // Solo reiniciar si no se ha mostrado la advertencia y el usuario está autenticado
              if (!warningShown && isAuthenticated) {
                  resetTimers();
              }
          });
      });
  }

  // Función para reiniciar los temporizadores
  function resetTimers() {
      clearTimeout(timeoutId);
      clearTimeout(warningId);
      
      // Establecer la advertencia
      warningId = setTimeout(showWarning, SESSION_DURATION - WARNING_BEFORE);
      
      // Establecer el timeout de sesión
      timeoutId = setTimeout(forceLogout, SESSION_DURATION);
  }

  // Función para mostrar la advertencia
  function showWarning() {
      // Verificar si el usuario sigue autenticado
      if (!isAuthenticated) {
          return;
      }

      warningShown = true;
      
      Swal.fire({
          title: '¿Deseas extender tu sesión?',
          text: 'Tu sesión expirará en 30 segundos',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Sí, extender sesión',
          cancelButtonText: 'No, cerrar sesión',
          allowOutsideClick: false,
          allowEscapeKey: false,
          timer: WARNING_BEFORE,
          timerProgressBar: true
      }).then((result) => {
          if (result.isConfirmed && isAuthenticated) {
              warningShown = false;
              resetTimers();
              fetch('/security/extend-session/', {
                  method: 'POST',
                  headers: {
                      'X-CSRFToken': getCookie('csrftoken'),
                  },
              });
          } else {
              forceLogout();
          }
      });
  }

  // Función para forzar el cierre de sesión
  async function forceLogout() {
      try {
          // Marcar como no autenticado primero
          isAuthenticated = false;
          
          // Limpiar todos los temporizadores
          clearTimeout(timeoutId);
          clearTimeout(warningId);
          
          // Hacer la petición de logout
          const response = await fetch('/security/signout/', {
              method: 'GET',
              credentials: 'same-origin',
              headers: {
                  'X-CSRFToken': getCookie('csrftoken'),
              },
          });
          
          // Redirigir al home
          window.location.href = '/';
          
      } catch (error) {
          console.error('Error during logout:', error);
          // En caso de error, redirigir al home de todas formas
          window.location.href = '/';
      }
  }

  // Función auxiliar para obtener el valor de una cookie
  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }

  // Inicializar el manejador de sesión cuando se carga la página
  document.addEventListener('DOMContentLoaded', initSessionHandler);
</script>

<!-- Script para el sidebar de los temas -->
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const sidebar = document.getElementById('drawer-navigation');
    const overlay = document.getElementById('sidebar-overlay');
    const openButton = document.querySelector('[data-drawer-target="drawer-navigation"]');
    const closeButton = document.querySelector('[data-drawer-hide="drawer-navigation"]');

    // Verificar si los elementos existen antes de agregar eventos, para evitar errores si el usuario no está logueado
    if (sidebar && openButton && closeButton && overlay) {
      function openSidebar() {
        sidebar.classList.remove('-translate-x-full');
        overlay.classList.remove('hidden');
        document.body.classList.add('overflow-hidden');
      }

      function closeSidebar() {
        sidebar.classList.add('-translate-x-full');
        overlay.classList.add('hidden');
        document.body.classList.remove('overflow-hidden');
      }

      openButton.addEventListener('click', openSidebar);
      closeButton.addEventListener('click', closeSidebar);
      overlay.addEventListener('click', closeSidebar);
    }
  });
</script>

<!-- Script para cambiar el tema -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const themeToggleBtn = document.getElementById('themeIconContainer');
    const themeIcon = document.getElementById('themeIcon');

    // Función para cambiar el ícono del tema
    function toggleThemeIcon() {
      if (themeIcon) {
        if (document.documentElement.classList.contains('dark')) {
          themeIcon.classList.remove('fa-moon');
          themeIcon.classList.add('fa-sun');
        } else {
          themeIcon.classList.remove('fa-sun');
          themeIcon.classList.add('fa-moon');
        }
      }
    }

    // Función para aplicar un tema y actualizar el ícono
    function setTheme(theme) {
      document.documentElement.className = theme;
      localStorage.setItem('theme', theme); // Guarda el tema seleccionado en localStorage para persistencia

      // Mostrar u ocultar la imagen de fondo según el tema seleccionado (si es necesario)
      const heroSection = document.getElementById('hero-section');
      if (heroSection) {
        if (theme === 'theme1') {
          heroSection.classList.remove('no-background');
        } else {
          heroSection.classList.add('no-background');
        }
      }

      // Cambia el ícono del tema
      toggleThemeIcon();
    }

    // Verifica si hay un tema guardado en el almacenamiento local
    const savedTheme = localStorage.getItem('theme') || 'light';
    setTheme(savedTheme);

    // Cambiar el ícono del tema al cargar la página
    toggleThemeIcon();

    // Agrega un listener para el evento 'click' en el botón
    if (themeToggleBtn) {
      themeToggleBtn.addEventListener('click', function (event) {
        event.preventDefault(); // Previene el comportamiento predeterminado del ícono
        // Cambia entre temas light y dark
        if (document.documentElement.classList.contains('dark')) {
          setTheme('light');
        } else {
          setTheme('dark');
        }
      });
    }

    // Exponer setTheme globalmente para usarlo en el menú de temas
    window.setTheme = setTheme;
  });
</script>

<!-- Script para cambiar el idiomas -->
{% load i18n %}
<script>
  function changeLanguage(lang) {
    document.getElementById('selected-language').value = lang;
    document.getElementById('language-form').submit();
  }
  const flagSVG = {
    'en': '<g fill-rule="evenodd"><g stroke-width="1pt"><path fill="#bd3d44" d="M0 0h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0z" transform="scale(3.9385)" /><path fill="#fff" d="M0 10h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0zm0 20h247v10H0z" transform="scale(3.9385)" /></g><path fill="#192f5d" d="M0 0h98.8v70H0z" transform="scale(3.9385)" /><path fill="#fff" d="M8.2 3l1 2.8H12L9.7 7.5l.9 2.7-2.4-1.7L6 10.2l.9-2.7-2.4-1.7h3zm16.5 0l.9 2.8h2.9l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9zm16.5 0l.9 2.8H45l-2.4 1.7 1 2.7-2.4-1.7-2.4 1.7 1-2.7-2.4-1.7h2.9z" transform="scale(3.9385)" /></g>',
    'es': '<path fill="#ffce00" d="M0 128h512v256H0z" /><path fill="#dd0000" d="M0 0h512v128H0zm0 384h512v128H0z" />'
  };
  function updateFlag(lang) {
    const flagSvg = document.getElementById('language-flag');
    flagSvg.innerHTML = flagSVG[lang];
    document.getElementById('language-text').textContent = lang === 'en' ? 'English' : 'Español';
  }
  function changeLanguage(lang) {
    document.getElementById('selected-language').value = lang;
    updateFlag(lang);
    document.getElementById('language-form').submit();
  }
  // Inicializar la bandera con el idioma actual
  updateFlag('{{ LANGUAGE_CODE }}');
</script>

<!-- Script de Accesibilidad para cambiar el tamaño de la letra -->
<script>
    // Variables para el ajuste de tamaño de fuente
    let currentFontSize = 100;
    const fontSizeStep = 10;
    const minFontSize = 80;
    const maxFontSize = 200;
  
    // Función para cambiar el tamaño de la fuente
    function changeFontSize(action) {
      if (action === 'increase' && currentFontSize < maxFontSize) {
        currentFontSize += fontSizeStep;
      } else if (action === 'decrease' && currentFontSize > minFontSize) {
        currentFontSize -= fontSizeStep;
      }
      document.body.style.fontSize = `${currentFontSize}%`;
    }
  
    // Función para resetear el tamaño de la fuente
    function resetFontSize() {
      currentFontSize = 100;
      document.body.style.fontSize = '100%';
    }
</script>

<!-- Script de Accesibilidad para cambiar el tipo de letra -->
<script>
  // Array de fuentes disponibles, incluyendo la fuente por defecto
  const fonts = ['Quicksand', 'Arial', 'Verdana', 'Georgia', 'Times New Roman', 'Courier New'];
  let currentFontIndex = 0;

  // Función para cambiar la tipografía
  function changeFont() {
      currentFontIndex = (currentFontIndex + 1) % fonts.length;
      const newFont = fonts[currentFontIndex];
      
      // Aplicar la nueva fuente
      document.body.style.fontFamily = newFont;
      
      // Actualizar el texto del botón para mostrar la fuente actual
      updateFontDisplay(newFont);
      
      // Guardar la fuente seleccionada en localStorage
      localStorage.setItem('selectedFont', newFont);
  }

  // Función para actualizar el texto mostrado
  function updateFontDisplay(fontName) {
      const fontDisplay = document.querySelector('.current-font-name');
      if (fontDisplay) {
          fontDisplay.textContent = fontName;
      }
  }

  // Al cargar la página, aplicar la fuente guardada si existe
  document.addEventListener('DOMContentLoaded', function() {
      const savedFont = localStorage.getItem('selectedFont');
      if (savedFont) {
          document.body.style.fontFamily = savedFont;
          currentFontIndex = fonts.indexOf(savedFont);
          if (currentFontIndex === -1) currentFontIndex = 0;
          
          // Actualizar el texto mostrado con la fuente actual
          updateFontDisplay(savedFont);
      } else {
          // Si no hay fuente guardada, mostrar la fuente por defecto
          updateFontDisplay(fonts[0]);
      }
  });
</script>

 <!-- Script de Accesibilidad para leer la pagina -->
<script>
  function toggleTextToSpeech() {
    // Si hay una lectura en curso, detenerla
    if (window.speechSynthesis.speaking) {
        window.speechSynthesis.cancel();
        return;
    }

    // Obtener todo el texto visible de la página
    const text = document.body.innerText;

    // Crear el objeto de voz
    const utterance = new SpeechSynthesisUtterance(text);
    
    // Configurar en español
    utterance.lang = 'es-ES';
    
    // Iniciar la lectura
    window.speechSynthesis.speak(utterance);
}
</script>
