{% if messages %}
<div id="message-container" class="fixed top-16 right-4 w-full sm:w-80 mb-4 sm:mb-0 z-50" data-aos="fade-left" data-aos-duration="500" data-aos-delay="300">
  {% for message in messages %}
  <div
    class="flex items-start sm:items-center p-4 mb-4 rounded-lg shadow-lg transition-all duration-300 
    {% if message.tags == 'error' %} bg-red-500 text-white 
    {% elif message.tags == 'warning' %} bg-yellow-500 text-white 
    {% elif message.tags == 'success' %} bg-green-500 text-white 
    {% else %} bg-blue-500 text-white {% endif %}">
    
    <div class="mr-3">
      {% if message.tags == 'error' %}
      <i class="fas fa-times-circle w-5 h-5"></i>
      {% elif message.tags == 'warning' %}
      <i class="fas fa-exclamation-triangle w-5 h-5"></i>
      {% elif message.tags == 'success' %}
      <i class="fas fa-check-circle w-5 h-5"></i>
      {% else %}
      <i class="fas fa-info-circle w-5 h-5"></i>
      {% endif %}
    </div>
    
    <div class="flex-1">
      <span class="font-bold block sm:inline">
        {% if message.tags == 'error' %} Error:
        {% elif message.tags == 'warning' %} Advertencia:
        {% elif message.tags == 'success' %} Éxito:
        {% else %} Info:
        {% endif %}
      </span>
      <p class="text-sm">{{ message }}</p>
    </div>
    
  </div>
  {% endfor %}
</div>
{% endif %}
