{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans 'Cambiar Contraseña' %}{% endblock title %}

{% block content %}
<div class="bg-slate-100 dark:bg-primary-dark p-8 relative overflow-hidden">
    <div class="absolute inset-0 bg-center blur-[106px]"></div>
    <div class="relative">
        <a href="/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse text-center justify-center" data-aos="fade-up">
          <img src="{% static 'img/components/icon.png' %}" class="w-12 h-12" alt="Logo" />
        </a> 
        
        <section class="p-8 my-4 mx-auto max-w-4xl rounded-3xl bg-white dark:bg-primary-dark_secondary" data-aos="fade-up" data-aos-delay="200">
            <div class="gap-2 mb-8">
              <div class="flex flex-col items-center justify-center">
                <span class="bg-navbar rounded-full bg-indigo-500 px-2 py-1 text-white uppercase text-sm">
                  {% trans 'RECUPERAR CONTRASEÑA' %}
                </span>
              </div>
              <h1 class="dark:text-white text-4xl text-center mt-6 font-black">
                Recuperar Contraseña Olvidada
              </h1>
              <p class="dark:text-gray-400 text-center mt-6 text-lg font-semibold">
                {% trans '¡Por favor ingrese su correo para recuperar su contraseña!' %}
              </p>
            </div>
            
            <div class="grid lg:grid-cols-2 grid-cols-1 gap-x-24">
                <div class="flex items-center lg:mb-0 mb-10">
                    <div class="w-full max-w-md mx-auto">
                        <form method="post" class="space-y-8">
                            {% csrf_token %}
                            {% for field in form %}
                                <div>
                                    <label for="{{ field.id_for_label }}" class="dark:text-blue-300 font-black uppercase text-lg">{{ field.label }}</label>
                                    <div class="relative">
                                        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                                            <i class="text-blue-400 fa-solid fa-lock"></i>
                                        </span>
                                        {{ field|add_class:"pl-10 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-primary-dark dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" }}
                                    </div>
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <p class="text-red-500 text-xs italic mt-1">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <div>
                                <button type="submit" class="w-full bg-indigo-500 text-white rounded-full py-2 px-4 text-sm font-medium hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                    {% trans 'Cambiar Contraseña' %}
                                </button>
                            </div>
                        </form>
                        
                        {% if messages %}
                        <div class="mt-6">
                            <ul class="messages">
                                {% for message in messages %}
                                <li class="{% if message.tags %}{{ message.tags }}{% endif %} text-center text-sm">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="lg:max-w-xl w-full h-[600px] flex items-center justify-center bg-cover bg-no-repeat bg-[url('https://pagedone.io/asset/uploads/1696245837.png')]">
                    <div class="rounded-lg lg:w-96 w-auto h-auto bg-white shadow-xl lg:p-6 p-4 backdrop-filter backdrop-blur-md bg-opacity-70">
                        <div class="space-y-4">
                            <p class="dark:text-black text-center mt-6 text-lg font-light">
                                {% trans 'Asegúrese de elegir una contraseña segura que no haya utilizado en otros sitios.' %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock content %}

{% block navbar %}
{% endblock navbar %}