{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}

<title>{% block title %} {{ title1 }} {% endblock title %}</title>

{% block content %}
<div class="bg-slate-100 dark:bg-primary-dark p-8 relative overflow-hidden">
  <div class="absolute inset-0 bg-center blur-[106px]"></div>
  <div class="relative">
    <a href="/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse text-center justify-center" data-aos="fade-up">
      <img src="{% static 'img/components/icon.png' %}" class="w-12 h-12" alt="Logo" />
    </a> 
    <section class="p-8 my-4 mx-auto max-w-4xl rounded-3xl bg-white dark:bg-primary-dark_secondary" data-aos="fade-up" data-aos-delay="200">
      <div class="gap-2 mb-8">
        <div class="flex flex-col items-center justify-center">
          <span class="bg-navbar rounded-full bg-indigo-500 px-2 py-1 text-white uppercase text-sm">
            {% trans 'RECUPERAR CONTRASEÑA' %}
          </span>
        </div>
        <h1 class="dark:text-white text-4xl text-center mt-6 font-black">
          Recuperar Contraseña Olvidada
        </h1>
        <p class="dark:text-gray-400 text-center mt-6 text-lg font-semibold">
          {% trans '¡Por favor ingrese su correo para recuperar su contraseña!' %}
        </p>
            <div class="grid lg:grid-cols-2 grid-cols-1 gap-x-24">
                <div class="flex justify-center items-center">
                    <form method="post" class="w-full max-w-sm">
                        {% csrf_token %}
                        <div class="mb-4 text-center">
                            <label for="email" class="dark:text-blue-300 font-bold uppercase text-sm sm:text-base">
                                {% trans 'Correo electrónico:' %}
                            </label>
                            <input type="email" class="bg-white text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-primary-dark dark:placeholder-gray-400 dark:text-gray-200 dark:focus:ring-blue-500 dark:focus:border-blue-500" id="email" name="email" required>
                        </div>
                        <div class="flex items-center justify-center">
                            <button type="submit" class="bg-blue-700 rounded-full hover:bg-blue-800 text-white font-bold py-2 px-4  focus:outline-none focus:shadow-outline">
                                {% trans 'Validar Correo' %}
                            </button>
                        </div>
                        <br>
                        <p class="dark:text-gray-400 text-center mt-3 z-10">
                            {% trans '¿Ya tienes una cuenta?' %} <a href="{% url 'security:signin' %}" class="text-blue-600 hover:underline dark:text-blue-300 font-Tiny5 uppercase">{% trans 'Inicia Sesión' %}</a>
                        </p>
                    </form>
                </div>
                
                <div class="lg:max-w-xl w-full h-[600px] flex items-center justify-center bg-cover bg-no-repeat bg-[url('https://pagedone.io/asset/uploads/1696245837.png')]">
                    <div class="rounded-lg lg:w-96 w-auto h-auto bg-white shadow-xl lg:p-6 p-4 backdrop-filter backdrop-blur-md bg-opacity-70">
                        <div class="space-y-4">
                            <p class="dark:text-black text-center mt-6 text-lg font-light">
                                {% trans 'Asegurese de ingresar un correo válido con el cual creó su cuenta por primera vez.' %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            {% if messages %}
            <div class="mt-4">
                <ul class="messages">
                    {% for message in messages %}
                    <li class="{% if message.tags %}{{ message.tags }}{% endif %} text-center text-sm">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </section>
    </div>
</div>
{% endblock content %}

{% block navbar %}
{% endblock navbar %}
