{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{{ title1 }}{% endblock title %}

{% block content %}
<section class="dark:bg-gray-900 py-20">

    <div class="container mx-auto px-4 text-center" data-aos="fade-up" data-aos-delay="300">
        <div class="inline-flex items-center justify-center bg-indigo-500 rounded-full px-4 py-2 text-white uppercase text-sm">
            {{ title1 }}
        </div>
        <h1 class="dark:text-white text-4xl mt-6 font-extrabold">
            {{ title2 }}
        </h1>
        <p class="dark:text-gray-300 mt-4 text-lg font-light">
            {% trans 'Actualice su información y contraseña.' %}
        </p>
    </div>

    <div class="w-full max-w-5xl mx-auto px-6 sm:px-8 mt-10" data-aos="fade-up" data-aos-delay="300">
        <form method="post" enctype="multipart/form-data" class="bg-white dark:bg-gray-800 shadow-lg rounded-lg p-8">
            {% csrf_token %}
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
                <!-- Imagen de perfil -->
                <div class="rounded-lg w-full bg-white dark:bg-gray-700 shadow-xl p-6">
                    <h2 class="text-2xl font-semibold mb-4 text-center dark:text-white">{% trans 'Imagen de perfil' %}</h2>
                    <div class="flex flex-col items-center">
                        <img id="selected-img" src="{% if form.instance.image %}{{ form.instance.image.url }}{% else %}{% static 'img/components/default_user.jpg' %}{% endif %}" alt="profile" class="w-32 h-32 rounded-full cursor-pointer mb-2 object-cover border-4 border-green-500">
                        <div class="hidden">
                            {{ form.image }}
                        </div>
                    </div>
                    <p class="text-center mt-4 text-sm text-gray-600 dark:text-gray-400">
                        {% trans 'Haz clic en la imagen para cambiarla' %}
                    </p>
                </div>

                <!-- Información del perfil y campos del formulario -->
                <div class="lg:col-span-2">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                        {% for field in form %}
                            {% if field.name != 'image' %}
                                <div class="bg-white dark:bg-gray-700 p-4 rounded-lg shadow-sm">
                                    <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2">
                                        {{ field.label }}
                                    </label>
                                    {{ field }}
                                    {% if field.help_text %}
                                        <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">{{ field.help_text }}</p>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <p class="mt-2 text-sm text-red-600 dark:text-red-400">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            <!-- Sección para el cambio de contraseña -->
            <div class="mt-12">
                <h2 class="text-2xl font-semibold mb-6 text-center dark:text-white">{% trans 'Cambiar Contraseña' %}</h2>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                    {% for field in password_form %}
                        <div class="bg-white dark:bg-gray-700 p-4 rounded-lg shadow-sm">
                            <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2">
                                {{ field.label }}
                            </label>
                            {{ field }}
                            {% if field.help_text %}
                                <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">{{ field.help_text }}</p>
                            {% endif %}
                            {% for error in field.errors %}
                                <p class="mt-2 text-sm text-red-600 dark:text-red-400">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Botones de acción -->
            <div class="mt-8 flex justify-center space-x-4">
                <button type="submit" name="profile_update" class="py-3 px-8 rounded-full bg-blue-500 hover:bg-blue-600 text-white font-semibold text-base leading-7 shadow-md transition-all duration-300 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-700">
                  {% trans 'Actualizar Perfil' %}
                </button>
                <button type="submit" name="password_change" class="py-3 px-8 rounded-full bg-green-500 hover:bg-green-600 text-white font-semibold text-base leading-7 shadow-md transition-all duration-300 focus:ring-4 focus:ring-green-300 dark:focus:ring-green-700">
                  {% trans 'Cambiar Contraseña' %}
                </button>
              </div>
        </form>
    </div>
</section>

{% endblock content %}
