{% extends 'components/base.html' %} 
{% load static %}
<title>{% block title %} {{ title1 }} {% endblock title %}</title>
{% load i18n %}
{% block content %}
<div class="py-12 lg:py-14"></div>
<div class="container px-6 mx-auto" data-aos="fade-up">
  <div class="flex flex-col items-center justify-center">
    <span class="information">
      {{ title1 }}
    </span>
  </div>
  <h1 class="title-font text-3xl text-center mt-4">{{ title2 }}</h1>
  <p class="description-font text-center">{% trans 'Gestionar Sesiones de Monitoreo. '%}</p>
  
  <div class="grid grid-cols-1 gap-4 mt-4 items-center justify-center space-y-2">
    <!-- CRUD Sesiones -->
    <div class="secondary-container-bg p-4 rounded-lg shadow-md">
      {% if monitoring_sessions %}
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4">
        {% for session in monitoring_sessions %}
        <div class="group relative bg-blue-100 dark:bg-blue-800 rounded-xl p-3 transition-all duration-500 hover:bg-blue-500 dark:hover:bg-blue-600">
          <div class="bg-white dark:bg-blue-700 rounded-full flex justify-center items-center mb-3 w-10 h-10">
            <a href="{% url 'monitoring:real_time_view' session_id=session.id %}">
              <i class="fa-solid fa-video text-lg text-blue-500 dark:text-white text-center"></i> 
            </a>
          </div>
          <span class="text-sm text-green-500 dark:text-green-400 font-bold">Sesión {{ session.id }}</span>
          <h2 class="title-module-cards mb-2">
            {{ session.name }}
          </h2>
          <p class="description-module-cards">
            {{ session.description }}<br><br>
            Sesión creada el {{ session.start_time|date:"d/m/Y" }} a las {{ session.start_time|time:"H:i" }}
          </p>
          <div class="flex mt-3 space-x-2">
            <!-- Botón Editar con Tooltip -->
            <div class="bg-white dark:bg-blue-700 rounded-full flex justify-center items-center mb-3 w-10 h-10">
              <a href="{% url 'monitoring:update_session' session.id %}" data-tooltip-target="tooltip-editar-{{ session.id }}">
                <i class="fa-solid fa-edit text-lg text-blue-500 dark:text-white"></i>
              </a>
            </div>
            <div id="tooltip-editar-{{ session.id }}" role="tooltip"
              class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Editar Sesión
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          
            <!-- Botón Eliminar con Tooltip -->
            <div class="bg-white dark:bg-blue-700 rounded-full flex justify-center items-center mb-3 w-10 h-10">
              <a href="{% url 'monitoring:delete_session' session.id %}" data-tooltip-target="tooltip-eliminar-{{ session.id }}">
                <i class="fa-solid fa-trash text-lg text-blue-500 dark:text-white"></i>
              </a>
            </div>
            <div id="tooltip-eliminar-{{ session.id }}" role="tooltip"
              class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
              Eliminar Sesión
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
          
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p class="description-module-cards text-center leading-5">
        No hay sesiones de monitoreo disponibles. <span class="text-green-300 font-bold">Empice creando una nueva sesión. </span>
      </p>
      {% endif %}
    </div>
  </div>

  <!-- Botones con Tooltips -->
  <div class="flex justify-center mt-6 mb-4 space-x-2">
    <!-- Botón Crear Sesión con Tooltip -->
    <a href="{% url 'monitoring:create_session' %}">
      <button data-tooltip-target="tooltip-crear-sesion" class="add-threat-button">
        <i class="fa-solid fa-plus"></i>
      </button>
    </a>
    <div id="tooltip-crear-sesion" role="tooltip"
      class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
      Crear Sesión de Monitoreo
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>

    <!-- Botón Volver al Inicio con Tooltip -->
    <a href="{% url 'home' %}">
      <button data-tooltip-target="tooltip-home" class="home-and-back-button">
        <i class="fa-solid fa-home text-lg"></i>
      </button>
    </a>
    <div id="tooltip-home" role="tooltip"
      class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
      Volver al Inicio
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
  </div>
</div>

{% endblock content %}
