{% extends 'components/base.html' %}
{% load static %}
{% load i18n %}
<title>{% block title %}{{ title1 }} {% endblock title %}</title>
{% block content %}
<div class="py-12 lg:py-14"></div>
<div id="notifications-container" class="fixed top-16 right-4 z-50 w-96 max-w-full" data-aos="fade-left"></div>
<div class="container px-6 mx-auto" data-aos="fade-up">
  <div class="flex flex-col items-center justify-center">
    <span class="information">
      {{ title1 }}
    </span>
  </div>
  <h1 class="title-font text-3xl text-center mt-4">{{ title2 }}</h1>
  <p class="description-font text-center">{{ details }}<br>
    <span class="text-green-500 dark:text-green-300 font-bold text-center">
      {{ detection.name }}
    </span>
  </p>
  <div class="grid grid-cols-1 gap-4 mt-4 items-center justify-center">
    <div class="secondary-container-bg p-4 rounded-lg shadow-md">
      <div class="text-center py-4 space-y-6 flex flex-col items-center justify-center">
        <!-- Camara en tiempo real -->
        <img src="{% url 'monitoring:video_feed' session.id %}" alt="Cámara en tiempo real"
          class="w-[50%] rounded-2xl shadow-lg" />
      </div>
    </div>
  </div>
  <div class="flex justify-center mt-6 mb-4 space-x-2">
    <a href="{% url 'monitoring:monitoring_session' %}">
      <button class="home-and-back-button">
        <i class="fa-solid fa-angles-left text-lg"></i>
      </button>
    </a>
    <a href="{% url 'home' %}">
      <button class="home-and-back-button">
        <i class="fa-solid fa-home text-lg"></i>
      </button>
    </a>
    <button onclick="location.reload()" class="home-and-back-button">
      <i class="fa-solid fa-sync-alt text-lg"></i> <!-- Icono de actualización -->
    </button>
  </div>
</div>
<audio id="alarmSound" src="{{ session.alarm.sound_file.url }}" preload="auto"></audio>

{% endblock content %}

{% block extra_js %}
<script>
  function createNotificationElement(message) {
    const notificationDiv = document.createElement('div');
    notificationDiv.className = 'flex items-center p-4 mb-4 text-yellow-800 border border-yellow-300 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 dark:border-yellow-800 notification-fade';
    notificationDiv.role = "alert";

    notificationDiv.innerHTML = `
      <i class="fas fa-exclamation-triangle flex-shrink-0 inline w-4 h-4 me-3"></i>
      <div>
        <span class="font-black">Alerta: </span>
        <span class="description-font">${message}</span>
      </div>
    `;

    return notificationDiv;
  }

  function getNotifications() {
    const sessionId = "{{ session_id }}";
    const url = "{% url 'monitoring:get_notifications' session_id=12345 %}".replace('12345', sessionId);

    fetch(url)
      .then(response => response.json())
      .then(data => {
        const container = document.getElementById('notifications-container');

        data.notifications.forEach(notification => {
          const existingNotifications = Array.from(container.children);

          const isDuplicate = existingNotifications.some(
            (el) => el.textContent.includes(notification.message)
          );
          if (!isDuplicate) {
            const notificationElement = createNotificationElement(notification.message);
            container.appendChild(notificationElement);

            // Trigger reflow to start the animation
            notificationElement.offsetHeight;
            notificationElement.style.opacity = '1';
            notificationElement.style.transform = 'translateX(0)';

            setTimeout(() => {
              notificationElement.style.opacity = '0';
              notificationElement.style.transform = 'translateX(100%)';
              setTimeout(() => {
                notificationElement.remove();
              }, 300); // Tiempo de la animación de salida
            }, 19700); // 20000 - 300 para que la animación de salida termine justo a los 20 segundos
          }
        });
      })
      .catch(error => console.error('Error al obtener notificaciones:', error));
  }

  setInterval(getNotifications, 5000);
  document.addEventListener('DOMContentLoaded', getNotifications);
</script>

<style>
  .notification-fade {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
</style>
{% endblock %}