{% extends 'components/base.html' %}
{% load static %}
<title>{% block title %}Listado de Videos de Robos{% endblock title %}</title>
{% block content %}
<div class="py-24 lg:py-14"></div>
<div class="container px-6 mx-auto" data-aos="fade-up">
  <div class="flex flex-col items-center justify-center">
    <span class="information">
      {{ title1 }}
    </span>
  </div>
  <h1 class="title-font text-3xl text-center mt-4">{{ title2 }}</h1>
  <p class="description-font text-center">
    Evidencias de video de robos detectados en la sesión de monitoreo.<br>
    <span class="text-red-500 dark:text-red-300 font-bold text-center">
      Los videos se eliminan automáticamente después de 15 minutos.
    </span>
  </p>
  <div class="flex flex-wrap gap-4 mt-4 items-center justify-center">
    {% for evidence in video_evidences %}
    <div class="secondary-container-bg p-4 rounded-lg shadow-md flex flex-col items-center">
        <video width="320" height="240" controls class="rounded-2xl mb-2">
            <source src="{{ evidence.video_file.url }}" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
        <p class="description-module-cards text-center leading-5">
            {{ evidence.created_at }}
        </p>
    </div>
    {% empty %}
    <div class="secondary-container-bg p-4 rounded-lg shadow-md">
        <p class="description-module-cards text-center leading-5">
            No hay evidencias de video disponibles.<span class="text-green-300 font-bold"> Enhorabuena.</span>
        </p>
    </div>
    {% endfor %}
  </div>
  <div class="flex justify-center mt-6 mb-4 space-x-2">
    <a href="{% url 'monitoring:real_time_view' session_id=session.id %}">
      <button class="home-and-back-button">
        <i class="fa-solid fa-angles-left text-lg"></i>
      </button>
    </a>
    <a href="{% url 'home' %}">
      <button class="home-and-back-button">
        <i class="fa-solid fa-home text-lg"></i>
      </button>
    </a>
  </div>
</div>
{% endblock content %}